 Java Development Kit (JDK) version 8 or above
 If you aren't able to make it run. will add a jar file where you can run it.
 if you are on windows and you have JDK installed, you will just run it.
 if you are on UNIX  just go to the terminal and run it using the command 'java -jar <file location>

